* {
	margin: 0;
	padding: 0;
}

#graphicsContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay {
    left: 10px;
    top: 10px;
    z-index: -1;
    margin-top: .7vw;
    font-family: 'Oswald', sans-serif; 
}

#canvas {
	background-image: url("/assets/graphics/css/bg.png");
	width: 80vw;
    height: 37vw;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: -1;
    overflow: hidden;
}