<h2>Personal Website</h2>
<p>The summer after my freshman year at Cornell, I decided to make a website
    that I could use to keep track of both my academic progress and professional achievements.
    Being completely new to web development at the time gave me the chance to discover
    technologies on my own and learn independently. I update the website
    every few months or so, which helps me keep my web development skills sharp.
</p>
<p>
    This past summer I worked on a project at Raytheon in Angular and subsequently picked
    up TypeScript/JavaScript. I redesigned my website to be more robust and complex
    using these skills.
</p>
<p>
    Any feedback
    on the design or layout of the website is greatly appreciated!
</p>
<p>
    Tools Used: <br>
    <i class="mdi mdi-language-typescript" title="TypeScript"></i>
    <i class="mdi mdi-language-javascript" title="JavaScript"></i>
    <i class="mdi mdi-language-html5" title="HTML5"></i>
    <i class="mdi mdi-language-css3" title="CSS3"></i>
</p>