<div style="margin-bottom:5em;display:flex;flex-direction:column;margin-bottom:0px;
padding:13vw;
background-image:url(assets/budapest.jpg);
background-position:center;
background-color:rgb(36, 69, 75);
background-blend-mode:overlay
">
  <h1 style="margin-bottom:0px;color:white">MICHAEL ZHANG</h1>
  <h2 style="text-align: center; font-size: 2.8vw;margin-top:0px;color:white">SOFTWARE ENGINEER</h2>
</div>
<nav #nav style="margin-top:0px" [class.sticky]="sticky">
  <a href="#home">HOME</a>
  <a href="#courses">COURSES</a>
  <a href="#projects">PROJECTS</a>
  <a href="#experience">EXPERIENCE</a>
  <a href="#contact">CONTACT</a>
</nav>
<app-home id="home"></app-home>
<app-courses id="courses"></app-courses>
<app-projects id="projects"></app-projects>
<app-experience id="experience"></app-experience>
<app-contact id="contact"></app-contact>
<!--<router-outlet></router-outlet>-->
<p style="text-align: center; font-size: 1vw;padding-bottom:10em">Copyright &#169; 2019 Michael Zhang </p>