<h2>Marth Bot</h2>
<p>For my Artifical Intelligence Practicum Project Course, my teammates and I
    created a reinforcement learning AI that learns how to play Super Smash
    Brothers Melee. We used the Dolphin GameCube emulator to run the game and get
    game state information. The AI controlled a Marth character in the game by inputting
    commands into a virtual controller. We implemented a single deep Q neural
    network (DQN) for the AI to be able to learn from its in game experiences. The AI
    was able to attack a target, dodge enemy attacks, as well as recover from being
    knocked off the stage.
</p>
<div style="margin-left:.5em">
    <a href="https://en.wikipedia.org/wiki/Super_Smash_Bros._Melee" target="_blank" title="SSBM">
        <button>About Super Smash Bros Melee
        </button>
    </a>
    <a href="https://en.wikipedia.org/wiki/Dolphin_(emulator)" target="_blank" title="Dolphin">
        <button>About Dolphin
        </button>
    </a>
</div>
<br>
<p style="padding-top:1.5em">
    Tools Used: <br>
    <i class="mdi mdi-language-python" title="Python"></i>
    <img src="assets/dolphin.jpg" style="height:42px;width:42px;" title="Dolphin">
</p>