<div style='padding:1vw;'>
    <!--Overview-->
    <h2 style="padding-top:1em">About Me</h2>
    <p style='text-align: center;'>Hello! I'm Michael and I'm a junior studying computer science at Cornell
        University.
        I'm interested in software development, web development, AI, and data science. I'm highly motivated and
        willing
        to learn.</p>
    <img src="./../../assets/headshot.jpeg" alt="Headshot" title="Headshot"
        style="width:15vw;height:15.84vw;margin:0px auto;display: block;border-radius:90%">
    <a href="/#contact" style="text-decoration: none;text-align: center;"><button
            style="margin: 0 auto; display: block; font-size:1.5vw; margin-top: .7em;">
            Contact for Resume</button></a>
</div>