<div style="text-align: center;">
    <!-- Contact -->
    <h2 id="Ct" style="margin-bottom:0px">CONTACT</h2>
    <p>
        <i class="mdi mdi-contact-mail" style="margin-right:.2em"></i>
        <a class="js-emaillink" href="mailto:maz62@cornell.edu" style="text-decoration: none;"><span
                style="color:#6B6B6B">:</span> maz62@cornell.edu
        </a>
    </p>
    <a href="https://www.linkedin.com/in/michael-a-zhang/" target=_blank title="LinkedIn Profile">
        <i class="mdi mdi-linkedin-box" style="font-size:3.5vw;color:#0077B5;"></i>
    </a>
</div>