button {
    text-align: center;
    font-size: 1.5vw; 
    border-radius: 8px; 
    border: none;
    box-shadow: none;
    font-family: 'Oswald', sans-serif;
    background-color:transparent
}
i {
    font-size: 2vw;
    color:#6B6B6B;
}
