<div style="background-color:#eee; padding-bottom:5em">
    <!-- Experience-->
    <h2 id="Ex" style="padding-top:1.5em">EXPERIENCE</h2>
    <div class="logoBox">
        <div class="imgWrapper" style="background-color:white" (click)="openProject(5)">
            <img src="assets/amazon.jpg" style="height: 13vw; width: 13vw;"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 5)}">
        </div>
        <div class="imgWrapper" style="background-color:#e61231" (click)="openProject(0)">
            <img src="assets/raytheon.png" style="height: 100%; width: 150%"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 0)}">
        </div>
        <div class="imgWrapper" style="background-color:white" (click)="openProject(1)">
            <img src="assets/cornellcis.jpg" style="height: 13vw; width: 13vw"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 1)}">
        </div>
        <div class="imgWrapper" (click)="openProject(2)">
            <img src="assets/atlantis.png" style="height: 16vw; width: 16vw"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 2)}">
        </div>
        <div class="imgWrapper" (click)="openProject(3)">
            <img src="assets/acsu.png" style="height: 16vw; width: 16vw"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 3)}">
        </div>
        <div class="imgWrapper" style="background-color:white" (click)="openProject(4)">
            <img src="assets/spikeball.jpg" style="height: 13vw; width: 13vw;"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 4)}">
        </div>
    </div>

    <div class="expPosition" *ngIf="projSelected[0] != undefined && projSelected[0] == 0">
        <a href="https://www.raytheon.com/" target="_blank" title=" https://www.raytheon.com/">
            <h4>Raytheon Intelligence, Information and Services</h4>
        </a>
        <h5>Software Engineering Intern (Summer 2019)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Developed a web application in Angular from scratch that greatly simplifies the data recording
                process for an internal R&D radar and worked with a user experience team on designing its layout and
                features <br>
                - Updated the RESTful server side API for the radar recorder by reworking many of the Java methods to
                provide
                the necessary data for the features requested by the product owner and user experience team <br>
                - Implemented an algorithm in C++ that generates noise estimates for dual-polarization data from the
                radar
                in
                order to generate more accurate and distinctive detections for weather data products <br> <br>
            </p>
            <p>
                Tools Used:
                <i class="mdi mdi-language-typescript" title="TypeScript"></i>
                <i class="mdi mdi-language-html5" title="HTML5"></i>
                <i class="mdi mdi-language-css3" title="CSS3"></i>
                <i class="mdi mdi-language-java" title="Java"></i>
                <i class="mdi mdi-language-c" title="C"></i>
                <i class="mdi mdi-language-cpp" title="C++"></i>
            </p>
        </div>
    </div>
    <div class="expPosition" *ngIf="projSelected[0] != undefined && projSelected[0] == 1">
        <a href="http://cis.cornell.edu/" target="_blank" title="http://cis.cornell.edu/">
            <h4>Cornell CIS Student Employment</h4>
        </a>
        <h5>Course Consultant - CS1110: Introduction to Computing (2018-Present)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Answers student questions and reinforces concepts taught in class during weekly office hours <br>
                - Assists TAs in running discussion sections by leading students through lab assignments <br>
                - Manages the course announcement board and serves as publicity point of contact <br>
                - Grades programming assignments, lab activities, and exams <br> <br>
            </p>
            <p>
                Tools Used:
                <i class="mdi mdi-language-python" title="Python"></i>
            </p>
        </div>
    </div>
    <div class="expPosition" *ngIf="projSelected[0] != undefined && projSelected[0] == 2">
        <a href="https://www.atlantistech.com/" title="https://www.atlantistech.com/" target="_blank">
            <h4>Atlantis Technology</h4>
        </a>
        <h5>Data Curation Intern (Summer 2017)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Collaborated with engineering and product teams to build a stealth-mode SaaS product that provides
                healthcare contact information for medical suppliers <br>
                - Researched contact data and curated the database using Microsoft Excel <br> <br>
            </p>
            <p>
                Tools Used:
                <i class="mdi mdi-file-excel" title="Excel"></i>
            </p>
        </div>
    </div>
    <div class="expPosition" *ngIf="projSelected[0] != undefined && projSelected[0] == 3">
        <a href="https://acsu.cornell.edu/" title="https://acsu.cornell.edu/" target="_blank">
            <h4>Association of Computer Science Undergraduates</h4>
        </a>
        <h5>Co-President (2020)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Elected Co-President for the 2020 Calendar Year <br>
                - Oversees the Academic, Publicity, Social, Corporate, Web Dev, and
                Graphic Design teams that serve the entire undergraduate computer science
                community.
            </p>
        </div>
        <br>
        <h5>Social Team Officer (2017-2019)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Plans and helps set up monthly campus wide social events for the computer science community <br>
                - Manages the mentorship program that connects new members to older and more experienced students <br>
                - Coordinates monthly officer socials that increase cross team collaboration

            </p>
        </div>
    </div>
    <div class="expPosition" *ngIf="projSelected[0] != undefined && projSelected[0] == 4">
        <h4>Cornell Spikeball Club</h4>
        <h5>Co-President (2017-Present)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Co-Founded the Spikeball Club at Cornell University <br>
                - Organizes practices and trips to tournaments for a
                15 member team.
            </p>
        </div>
    </div>
    <div class="expPosition" *ngIf="projSelected[0] != undefined && projSelected[0] == 5">
        <h4>Amazon</h4>
        <h5>Software Development Engineer Intern (Summer 2020)</h5>
        <div class="expBox">
            <p class="expDescription">
                - Incoming Software Development Engineer Intern
            </p>
        </div>
    </div>
    <!--
    <div>
        <h4>New England Chinese Youth Summer Camp -- Counselor (Summer 2016-Summer 2018)</h4>
        <p class=exp>Leads group of 15 campers throughout the week as a camp counselor in various activities
            relating to Chinese culture.
            Organizes nightly activities for the entire camp of around 300 campers.
        </p>
    </div>
    <div>
        <h4>Stop & Shop -- Front End Associate (Summer 2018)</h4>
        <p class=exp>
            Assists in the daily operation of the store; helps customers check out and keeps shelves stocked.
        </p>
    </div>
    <div>
        <h4>InspireDo -- Tutor (Summer 2016-2017)</h4>
        <p class=exp>
            Worked with students on a weekly basis to create personalized study plans in order to meet their goals
            for the SAT/ACT.
        </p>
    </div>
    <div>
        <h4>Kumon Learning Center -- Tutor (2015-2016)</h4>
        <p class=exp>
            Promoted the development of students’ reading comprehension and math skills by reviewing their work and
            explaining concepts.
        </p>
    </div>-->