<div style="background-color:#eee; padding-bottom:5em">
    <!-- Experience-->
    <h2 id="Ex" style="padding-top:1.5em">Experience</h2>
    <h3>Work Experience</h3>
    <div>
        <h4>Raytheon Intelligence, Information and Services -- Software Engineering Intern (Summer 2019)</h4>
        <p class=exp>
            - Developed a web application in Angular from scratch that greatly simplifies the data recording
            process for an internal R&D radar and worked with a user experience team on designing its layout and
            features <br>
            - Updated the RESTful server side API for the radar recorder by reworking many of the Java methods to
            provide
            the necessary data for the features requested by the product owner and user experience team <br>
            - Implemented an algorithm in C++ that generates noise estimates for dual-polarization data from the radar
            in
            order to generate more accurate and distinctive detections for weather data products <br> <br>

            Tools Used:
            <i class="mdi mdi-language-typescript" title="TypeScript"></i>
            <i class="mdi mdi-language-html5" title="HTML5"></i>
            <i class="mdi mdi-language-css3" title="CSS3"></i>
            <i class="mdi mdi-language-java" title="Java"></i>
            <i class="mdi mdi-language-c" title="C"></i>
            <i class="mdi mdi-language-cpp" title="C++"></i>
        </p>
    </div>
    <div>
        <h4>Cornell CIS Student Employment -- Course Consultant - CS1110 (2018-Present)</h4>
        <p class=exp>
            - Answers student questions and reinforces concepts taught in class during weekly office hours <br>
            - Assists TAs in running discussion sections by leading students through lab assignments <br>
            - Manages the course announcement board and serves as publicity point of contact <br>
            - Grades programming assignments, lab activities, and exams <br> <br>

            Tools Used:
            <i class="mdi mdi-language-python" title="Python"></i>
        </p>
    </div>
    <div>
        <h4>Atlantis Technology -- Data Curation Intern (Summer 2017)</h4>
        <p class=exp>
            - Collaborated with engineering and product teams to build a stealth-mode SaaS product that provides
            healthcare contact information for medical suppliers <br>
            - Researched contact data and curated the database using Microsoft Excel <br> <br>

            Tools Used:
            <i class="mdi mdi-file-excel" title="Excel"></i>
        </p>
    </div>
    <!--
    <div>
        <h4>New England Chinese Youth Summer Camp -- Counselor (Summer 2016-Summer 2018)</h4>
        <p class=exp>Leads group of 15 campers throughout the week as a camp counselor in various activities
            relating to Chinese culture.
            Organizes nightly activities for the entire camp of around 300 campers.
        </p>
    </div>
    <div>
        <h4>Stop & Shop -- Front End Associate (Summer 2018)</h4>
        <p class=exp>
            Assists in the daily operation of the store; helps customers check out and keeps shelves stocked.
        </p>
    </div>
    <div>
        <h4>InspireDo -- Tutor (Summer 2016-2017)</h4>
        <p class=exp>
            Worked with students on a weekly basis to create personalized study plans in order to meet their goals
            for the SAT/ACT.
        </p>
    </div>
    <div>
        <h4>Kumon Learning Center -- Tutor (2015-2016)</h4>
        <p class=exp>
            Promoted the development of students’ reading comprehension and math skills by reviewing their work and
            explaining concepts.
        </p>
    </div>-->
    <h3>Extracurriculars</h3>
    <div>
        <h4>Association of Computer Science Undergraduates -- Social Team Officer (2017-Present)</h4>
        <p class=exp>
            - Plans and helps set up monthly campus wide social events for the computer science community <br>
            - Manages the mentorship program that connects new members to older and more experienced students <br>
            - Coordinates monthly officer socials that increase cross team collaboration

        </p>
    </div>
    <div>
        <h4>Cornell Spikeball Club -- Co-President (2017-Present)</h4>
        <p class=exp>
            - Co-Founded the Spikeball Club at Cornell University <br>
            - Organizes practices and trips to tournaments for a
            15 member team.
        </p>
    </div>