<h2>Study Abroad at AIT Budapest</h2>
<p> I spent the first semester of my junior year studying abroad at AIT Budapest. AIT Budapest
    is a well known study abroad program designed specifically for computer science majors.
    I had always wanted to travel around Europe, so this program was a perfect fit for what I wanted
    to study and where I wanted to go. I also got the opportunity to study Hungarian during the semester
    and loved learning such a unique language.
</p>
<div style="text-align:center">
    <a href="https://ait-budapest.com" target="_blank" title="study abroad">
        <button>More about the Program</button>
    </a>
</div>