div#container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:2em;
}
div#container div{
    border-radius:50%;
    overflow:hidden;
    width:18vw;
    height:18vw;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2vw;
}
.notSelected {
    opacity: 0.5
}

