<div style="padding-bottom:5em; text-align:center">
    <!--Projects -->
    <h2 id="Pr" style="padding-top:1.5em">Projects</h2>
    <div id="container">
        <div (click)="openProject(0)">
            <img style="width:275px;height:252px;" [ngClass]="{'notSelected': (lock && !websiteInfo)}"
                src="./../../../assets/WebsiteLogo.jpg">
        </div>
        <div (click)="openProject(1)">
            <img style="height:275px;width:368.9px" [ngClass]="{'notSelected': (lock && !aiProject)}"
                src="./../../../assets/marth.gif">
        </div>
        <div (click)="openProject(2)" style="border:1px solid black">
            <img style="height:275px;width:275px" [ngClass]="{'notSelected': (lock && !riscv)}"
                src="./../../../assets/riscv.jpg">
        </div>
    </div>
    <app-aiproject *ngIf="aiProject"></app-aiproject>
    <app-websiteinfo *ngIf="websiteInfo"></app-websiteinfo>
    <app-riscv *ngIf="riscv"></app-riscv>
    <button *ngIf="aiProject || websiteInfo || riscv"
        (click)="aiProject=false; websiteInfo=false; riscv=false; lock=false">Close</button>
</div>