<div style="padding-bottom:5em; text-align:center">
    <!--Projects -->
    <h2 id="Pr" style="padding-top:1.5em">PROJECTS</h2>
    <div id="container">
        <div (click)="openProject(3)" style="border:1px solid black; background-color:black">
            <img style="height:12vw;width:12vw;"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 3)}"
                src="assets/spotifylogo.png">
        </div>
        <div (click)="openProject(0)">
            <img style="width:18vw;height:17vw;"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 0)}"
                src="assets/WebsiteLogo.jpg">
        </div>
        <div (click)="openProject(1)">
            <img style="height:18vw;width:21vw"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 1)}"
                src="assets/marth.gif">
        </div>
        <div (click)="openProject(2)" style="border:1px solid black">
            <img style="height:18vw;width:18vw"
                [ngClass]="{'notSelected': (projSelected[0] != undefined && projSelected[0] != 2)}"
                src="assets/riscv.jpg">
        </div>
    </div>
    <app-websiteinfo *ngIf="projSelected[0] != undefined && projSelected[0] == 0"></app-websiteinfo>
    <app-aiproject *ngIf="projSelected[0] != undefined && projSelected[0] == 1"></app-aiproject>
    <app-riscv *ngIf="projSelected[0] != undefined && projSelected[0] == 2"></app-riscv>
    <app-spotify-trends id='spotifyTrends' *ngIf="projSelected[0] != undefined && projSelected[0] == 3">
    </app-spotify-trends>
    <button *ngIf="projSelected[0] != undefined" (click)="projSelected.pop();jumpTop()"
        style="margin-top:2vw">Close<span *ngIf="projSelected[0] == 3"> SpotifyTrends</span></button>
</div>