<h2>Fully Pipelined 32 bit RISC-V Processor</h2>
<p>
    For my Systems Programming course, I designed a fully pipelined 32 bit RISC-V
    processor in Logisim. The processor was designed to handle the most important
    arithmetic and logic operations. Control flow instructions such as branching and
    jumping were also implemented. A hazard detection unit was also implemented to
    handle data and control hazards.
</p>
<p>
    Tools Used: <br>
    <img src="assets/logisim.png" title="Logisim" style="height:40px;width:40px;padding-top:.5em">
</p>