<!--Not Logged In-->
<h1>SpotifyTrends</h1>
<div *ngIf="accessToken==null">
    <p>This project uses the Spotify API to display your listening data visually</p>
    <button *ngIf="!devLogin" (click)="login(false)">
        Login
    </button>

    <button *ngIf="devLogin" (click)="login(true)">
        Dev Login
    </button>

    <p *ngIf="loginFailed == true" style="color:red">Login Failed/Permission Denied</p>
</div>

<!--Logged In-->
<div *ngIf="accessToken!=null">
    <div *ngIf="userProfile!=undefined">
        <h2 class="userHeader">Welcome
            <span *ngIf="userProfile.display_name!=null" else userId>{{userProfile.display_name}}!</span>
            <ng-template #userId>{{userProfile.id}}!</ng-template>
        </h2>
    </div>
    <div *ngIf="topArtists!=undefined">
        <h2 id="Artists">YOUR TOP ARTISTS</h2>
        <p class="avgPop">Average Popularity of Your Top Artists:
            <span style="color: #1DB954;">
                {{averageArtistPopularity()}}
            </span>
        </p>
        <div style="display:flex;flex-direction:column">
            <div style="display:flex; flex-wrap:wrap">
                <div class="Box" *ngFor="let artist of shownTopArtists;let i = index">
                    <p style="margin-bottom:1vw" class="header" (mouseenter)="scroll($event.target)"
                        (mouseleave)="scrollBack($event.target)">{{artist.name}}</p>
                    <a href="{{artist.external_urls.spotify}}" target="_blank">
                        <img src={{artist.images[0].url}} class="artistPic">
                    </a>
                    <div style="display:flex;flex-direction:column">
                        <p class="popularity">Popularity:
                            <span style="color:#1DB954">
                                {{artist.popularity}}
                            </span>
                        </p>
                        <p class="popularity">Followers:
                            <span style="color:#1DB954">
                                {{formatNumber(artist.followers.total)}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <button *ngIf="shownTopArtists.length <= displayNum" class="showMoreLess"
                    (click)="showArtists()">MORE</button>
                <button *ngIf="shownTopArtists.length > displayNum" class="showMoreLess"
                    (click)="showArtists()">LESS</button>
            </div>
        </div>
    </div>
    <div *ngIf="topTracks!=undefined">
        <h2 id="Tracks">YOUR TOP TRACKS</h2>
        <p class="avgPop">Average Popularity of Your Top Tracks:
            <span style="color: #1DB954;">
                {{averageTrackPopularity()}}
            </span>
        </p>
        <div style="display:flex;flex-direction:column">
            <div style="display:flex; flex-wrap:wrap">
                <div class="Box" *ngFor="let track of shownTopTracks;let i = index">
                    <p class="header" (mouseenter)="scroll($event.target)" (mouseleave)="scrollBack($event.target)">
                        {{track.name}}</p>
                    <p class="trackArtists">{{formatTrackArtists(i)}}</p>
                    <a href="{{track.external_urls.spotify}}" target="_blank">
                        <img src={{track.album.images[0].url}} class="albumCover">
                    </a>
                    <div style="display:flex;flex-direction:column">
                        <p class="popularity">Popularity:
                            <span style="color:#1DB954">
                                {{track.popularity}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <button *ngIf="shownTopTracks.length <= displayNum" class="showMoreLess"
                    (click)="showTracks()">MORE</button>
                <button *ngIf="shownTopTracks.length > displayNum" class="showMoreLess"
                    (click)="showTracks()">LESS</button>
            </div>
        </div>
    </div>
</div>