.Box {
    width: 33.333%;
    margin-bottom:1.5vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.artistPic {
    height:20vw;
    width:20vw;
    border-radius:50%;
    object-fit:cover;
}
.albumCover {
    height:20vw;
    width:20vw;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
p.header{
    font-size:2.5vw;
    overflow-y:hidden;
    overflow-x:scroll;
    height:3.2vw;
    width:25vw;
    white-space:nowrap;
    margin-bottom:0px;
    scroll-behavior:smooth;
}
p.header::-webkit-scrollbar {
    display: none;
}
a img:hover {
    box-shadow: 0px 0px 8px 3px #1DB954;
}
.popularity {
    font-size: 1.5vw;
    margin:.2vw;
    margin-top:.6vw;
}
p {
    font-family: 'Montserrat', sans-serif;
    color:black;
}
.avgPop {
    font-size: 2vw
}
.trackArtists {
    margin-top:.3vw;
    height:2.0vw;
    width:20vw;
    overflow-y:hidden;
    overflow-x:scroll;
    white-space:nowrap;
}
.showMoreLess {
    color: #1DB954; 
    text-align: center;
    font-size: 1.7vw; 
    border-radius: .8vw; 
    border: 1px solid #1DB954; 
    transition-duration: .8s;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.19); 
    font-family: 'Montserrat', sans-serif;
    background-color:transparent;
    margin-bottom:1vw
}
.showMoreLess:hover {
    color:white;
    background-color:#1DB954;
}
.userHeader{
    color: #1DB954; 
    font-size: 3.7vw
}
i {
    font-size: 1.5em;
}
